In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
from sklearn.impute import SimpleImputer
from sklearn.model_selection import train_test_split
from sklearn.linear_model import  LinearRegression

In [3]:
df=np.round(pd.read_csv('50_Startups.csv')[['R&D Spend','Administration','Marketing Spend','Profit']]/10000)
np.random.seed(9)

In [4]:
df.sample(5)

    R&D Spend  Administration  Marketing Spend  Profit
21        8.0            15.0             30.0    11.0
37        4.0             5.0             20.0     9.0
2        15.0            10.0             41.0    19.0
14       12.0            16.0             26.0    13.0
44        2.0            15.0              3.0     7.0

In [5]:
df = df.iloc[:,0:-1]

In [6]:
df.iloc[1,0] = np.NaN
df.iloc[3,1] = np.NaN
df.iloc[-1,-1] = np.NaN

In [7]:
df.head()

   R&D Spend  Administration  Marketing Spend
0       17.0            14.0             47.0
1        NaN            15.0             44.0
2       15.0            10.0             41.0
3       14.0             NaN             38.0
4       14.0             9.0             37.0

In [8]:
# Step 1 - Impute all missing values with mean of respective col

df0 = pd.DataFrame()

df0['R&D Spend'] = df['R&D Spend'].fillna(df['R&D Spend'].mean())
df0['Administration'] = df['Administration'].fillna(df['Administration'].mean())
df0['Marketing Spend'] = df['Marketing Spend'].fillna(df['Marketing Spend'].mean())

In [9]:
# 0th Iteration
df0.head()

   R&D Spend  Administration  Marketing Spend
0  17.000000       14.000000             47.0
1   7.163265       15.000000             44.0
2  15.000000       10.000000             41.0
3  14.000000       12.163265             38.0
4  14.000000        9.000000             37.0

In [10]:
# Remove the col1 imputed value
df1 = df0.copy()
df1.iloc[1,0] = np.NaN
df1.head()

   R&D Spend  Administration  Marketing Spend
0       17.0       14.000000             47.0
1        NaN       15.000000             44.0
2       15.0       10.000000             41.0
3       14.0       12.163265             38.0
4       14.0        9.000000             37.0

In [11]:
# Use first 3 rows to build a model and use the last for prediction
X = df1.iloc[[0,2,3,4],1:3]
X.head()

   Administration  Marketing Spend
0       14.000000             47.0
2       10.000000             41.0
3       12.163265             38.0
4        9.000000             37.0

In [12]:
y = df1.iloc[[0,2,3,4],0]
y

0    17.0
2    15.0
3    14.0
4    14.0
Name: R&D Spend, dtype: float64

In [13]:
lr = LinearRegression()
lr.fit(X,y)
lr.predict(df1.iloc[1,1:].values.reshape(1,2))

/Users/puja/anaconda3/lib/python3.11/site-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([15.90294324])

In [14]:
df1.iloc[1,0] = 15.90

In [15]:
df1.head()

   R&D Spend  Administration  Marketing Spend
0       17.0       14.000000             47.0
1       15.9       15.000000             44.0
2       15.0       10.000000             41.0
3       14.0       12.163265             38.0
4       14.0        9.000000             37.0

In [16]:
# Remove the col2 imputed value

df1.iloc[3,1] = np.NaN

df1

    R&D Spend  Administration  Marketing Spend
0        17.0            14.0        47.000000
1        15.9            15.0        44.000000
2        15.0            10.0        41.000000
3        14.0             NaN        38.000000
4        14.0             9.0        37.000000
5        13.0            10.0        36.000000
6        13.0            15.0        13.000000
7        13.0            15.0        32.000000
8        12.0            15.0        31.000000
9        12.0            11.0        30.000000
10       10.0            11.0        23.000000
11       10.0             9.0        25.000000
12        9.0            13.0        25.000000
13        9.0            14.0        25.000000
14       12.0            16.0        26.000000
15       11.0            12.0        26.000000
16        8.0            12.0        26.000000
17        9.0            15.0        28.000000
18        9.0            11.0        29.000000
19        9.0            15.0         0.000000
20        8.0            11.0        30.000000
21        8.0            15.0        30.000000
22        7.0            12.0        30.000000
23        7.0            11.0        30.000000
24        8.0            10.0        14.000000
25        6.0            14.0        14.000000
26        8.0            14.0        13.000000
27        7.0            13.0        35.000000
28        7.0            18.0        12.000000
29        7.0            15.0        11.000000
30        6.0            12.0         9.000000
31        6.0            15.0         9.000000
32        6.0            13.0         5.000000
33        6.0            10.0        21.000000
34        5.0            16.0        21.000000
35        5.0             9.0        21.000000
36        3.0            13.0        20.000000
37        4.0             5.0        20.000000
38        2.0             7.0        19.000000
39        4.0             8.0        17.000000
40        3.0            12.0        17.000000
41        3.0             8.0        16.000000
42        2.0            10.0        15.000000
43        2.0            13.0         4.000000
44        2.0            15.0         3.000000
45        0.0            12.0         0.000000
46        0.0            12.0        30.000000
47        0.0            14.0         0.000000
48        0.0             5.0         0.000000
49        0.0            12.0        21.387755

In [17]:
# Use last 3 rows to build a model and use the first for prediction
X = df1.iloc[[0,1,2,4],[0,2]]
X

   R&D Spend  Marketing Spend
0       17.0             47.0
1       15.9             44.0
2       15.0             41.0
4       14.0             37.0

In [18]:
y = df1.iloc[[0,1,2,4],1]
y

0    14.0
1    15.0
2    10.0
4     9.0
Name: Administration, dtype: float64

In [19]:
lr = LinearRegression()
lr.fit(X,y)
lr.predict(df1.iloc[3,[0,2]].values.reshape(1,2))

/Users/puja/anaconda3/lib/python3.11/site-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([10.16743119])

In [20]:
df1.iloc[3,1] = 10.16

In [21]:
df1

    R&D Spend  Administration  Marketing Spend
0        17.0           14.00        47.000000
1        15.9           15.00        44.000000
2        15.0           10.00        41.000000
3        14.0           10.16        38.000000
4        14.0            9.00        37.000000
5        13.0           10.00        36.000000
6        13.0           15.00        13.000000
7        13.0           15.00        32.000000
8        12.0           15.00        31.000000
9        12.0           11.00        30.000000
10       10.0           11.00        23.000000
11       10.0            9.00        25.000000
12        9.0           13.00        25.000000
13        9.0           14.00        25.000000
14       12.0           16.00        26.000000
15       11.0           12.00        26.000000
16        8.0           12.00        26.000000
17        9.0           15.00        28.000000
18        9.0           11.00        29.000000
19        9.0           15.00         0.000000
20        8.0           11.00        30.000000
21        8.0           15.00        30.000000
22        7.0           12.00        30.000000
23        7.0           11.00        30.000000
24        8.0           10.00        14.000000
25        6.0           14.00        14.000000
26        8.0           14.00        13.000000
27        7.0           13.00        35.000000
28        7.0           18.00        12.000000
29        7.0           15.00        11.000000
30        6.0           12.00         9.000000
31        6.0           15.00         9.000000
32        6.0           13.00         5.000000
33        6.0           10.00        21.000000
34        5.0           16.00        21.000000
35        5.0            9.00        21.000000
36        3.0           13.00        20.000000
37        4.0            5.00        20.000000
38        2.0            7.00        19.000000
39        4.0            8.00        17.000000
40        3.0           12.00        17.000000
41        3.0            8.00        16.000000
42        2.0           10.00        15.000000
43        2.0           13.00         4.000000
44        2.0           15.00         3.000000
45        0.0           12.00         0.000000
46        0.0           12.00        30.000000
47        0.0           14.00         0.000000
48        0.0            5.00         0.000000
49        0.0           12.00        21.387755

In [22]:
# Remove the col3 imputed value
df1.iloc[4,-1] = np.NaN

df1

    R&D Spend  Administration  Marketing Spend
0        17.0           14.00        47.000000
1        15.9           15.00        44.000000
2        15.0           10.00        41.000000
3        14.0           10.16        38.000000
4        14.0            9.00              NaN
5        13.0           10.00        36.000000
6        13.0           15.00        13.000000
7        13.0           15.00        32.000000
8        12.0           15.00        31.000000
9        12.0           11.00        30.000000
10       10.0           11.00        23.000000
11       10.0            9.00        25.000000
12        9.0           13.00        25.000000
13        9.0           14.00        25.000000
14       12.0           16.00        26.000000
15       11.0           12.00        26.000000
16        8.0           12.00        26.000000
17        9.0           15.00        28.000000
18        9.0           11.00        29.000000
19        9.0           15.00         0.000000
20        8.0           11.00        30.000000
21        8.0           15.00        30.000000
22        7.0           12.00        30.000000
23        7.0           11.00        30.000000
24        8.0           10.00        14.000000
25        6.0           14.00        14.000000
26        8.0           14.00        13.000000
27        7.0           13.00        35.000000
28        7.0           18.00        12.000000
29        7.0           15.00        11.000000
30        6.0           12.00         9.000000
31        6.0           15.00         9.000000
32        6.0           13.00         5.000000
33        6.0           10.00        21.000000
34        5.0           16.00        21.000000
35        5.0            9.00        21.000000
36        3.0           13.00        20.000000
37        4.0            5.00        20.000000
38        2.0            7.00        19.000000
39        4.0            8.00        17.000000
40        3.0           12.00        17.000000
41        3.0            8.00        16.000000
42        2.0           10.00        15.000000
43        2.0           13.00         4.000000
44        2.0           15.00         3.000000
45        0.0           12.00         0.000000
46        0.0           12.00        30.000000
47        0.0           14.00         0.000000
48        0.0            5.00         0.000000
49        0.0           12.00        21.387755

In [23]:
# Use last 3 rows to build a model and use the first for prediction
X = df1.iloc[0:4,0:2]
X

   R&D Spend  Administration
0       17.0           14.00
1       15.9           15.00
2       15.0           10.00
3       14.0           10.16

In [24]:
y = df1.iloc[0:4,-1]
y

0    47.0
1    44.0
2    41.0
3    38.0
Name: Marketing Spend, dtype: float64

In [25]:
lr = LinearRegression()
lr.fit(X,y)
lr.predict(df1.iloc[4,0:2].values.reshape(1,2))

/Users/puja/anaconda3/lib/python3.11/site-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([37.96028064])

In [26]:
df1.iloc[4,-1] = 37.96

In [27]:
df1

    R&D Spend  Administration  Marketing Spend
0        17.0           14.00        47.000000
1        15.9           15.00        44.000000
2        15.0           10.00        41.000000
3        14.0           10.16        38.000000
4        14.0            9.00        37.960000
5        13.0           10.00        36.000000
6        13.0           15.00        13.000000
7        13.0           15.00        32.000000
8        12.0           15.00        31.000000
9        12.0           11.00        30.000000
10       10.0           11.00        23.000000
11       10.0            9.00        25.000000
12        9.0           13.00        25.000000
13        9.0           14.00        25.000000
14       12.0           16.00        26.000000
15       11.0           12.00        26.000000
16        8.0           12.00        26.000000
17        9.0           15.00        28.000000
18        9.0           11.00        29.000000
19        9.0           15.00         0.000000
20        8.0           11.00        30.000000
21        8.0           15.00        30.000000
22        7.0           12.00        30.000000
23        7.0           11.00        30.000000
24        8.0           10.00        14.000000
25        6.0           14.00        14.000000
26        8.0           14.00        13.000000
27        7.0           13.00        35.000000
28        7.0           18.00        12.000000
29        7.0           15.00        11.000000
30        6.0           12.00         9.000000
31        6.0           15.00         9.000000
32        6.0           13.00         5.000000
33        6.0           10.00        21.000000
34        5.0           16.00        21.000000
35        5.0            9.00        21.000000
36        3.0           13.00        20.000000
37        4.0            5.00        20.000000
38        2.0            7.00        19.000000
39        4.0            8.00        17.000000
40        3.0           12.00        17.000000
41        3.0            8.00        16.000000
42        2.0           10.00        15.000000
43        2.0           13.00         4.000000
44        2.0           15.00         3.000000
45        0.0           12.00         0.000000
46        0.0           12.00        30.000000
47        0.0           14.00         0.000000
48        0.0            5.00         0.000000
49        0.0           12.00        21.387755

In [28]:
# After 1st Iteration
df1

    R&D Spend  Administration  Marketing Spend
0        17.0           14.00        47.000000
1        15.9           15.00        44.000000
2        15.0           10.00        41.000000
3        14.0           10.16        38.000000
4        14.0            9.00        37.960000
5        13.0           10.00        36.000000
6        13.0           15.00        13.000000
7        13.0           15.00        32.000000
8        12.0           15.00        31.000000
9        12.0           11.00        30.000000
10       10.0           11.00        23.000000
11       10.0            9.00        25.000000
12        9.0           13.00        25.000000
13        9.0           14.00        25.000000
14       12.0           16.00        26.000000
15       11.0           12.00        26.000000
16        8.0           12.00        26.000000
17        9.0           15.00        28.000000
18        9.0           11.00        29.000000
19        9.0           15.00         0.000000
20        8.0           11.00        30.000000
21        8.0           15.00        30.000000
22        7.0           12.00        30.000000
23        7.0           11.00        30.000000
24        8.0           10.00        14.000000
25        6.0           14.00        14.000000
26        8.0           14.00        13.000000
27        7.0           13.00        35.000000
28        7.0           18.00        12.000000
29        7.0           15.00        11.000000
30        6.0           12.00         9.000000
31        6.0           15.00         9.000000
32        6.0           13.00         5.000000
33        6.0           10.00        21.000000
34        5.0           16.00        21.000000
35        5.0            9.00        21.000000
36        3.0           13.00        20.000000
37        4.0            5.00        20.000000
38        2.0            7.00        19.000000
39        4.0            8.00        17.000000
40        3.0           12.00        17.000000
41        3.0            8.00        16.000000
42        2.0           10.00        15.000000
43        2.0           13.00         4.000000
44        2.0           15.00         3.000000
45        0.0           12.00         0.000000
46        0.0           12.00        30.000000
47        0.0           14.00         0.000000
48        0.0            5.00         0.000000
49        0.0           12.00        21.387755

In [29]:
# Subtract 0th iteration from 1st iteration

df1 - df0

    R&D Spend  Administration  Marketing Spend
0    0.000000        0.000000             0.00
1    8.736735        0.000000             0.00
2    0.000000        0.000000             0.00
3    0.000000       -2.003265             0.00
4    0.000000        0.000000             0.96
5    0.000000        0.000000             0.00
6    0.000000        0.000000             0.00
7    0.000000        0.000000             0.00
8    0.000000        0.000000             0.00
9    0.000000        0.000000             0.00
10   0.000000        0.000000             0.00
11   0.000000        0.000000             0.00
12   0.000000        0.000000             0.00
13   0.000000        0.000000             0.00
14   0.000000        0.000000             0.00
15   0.000000        0.000000             0.00
16   0.000000        0.000000             0.00
17   0.000000        0.000000             0.00
18   0.000000        0.000000             0.00
19   0.000000        0.000000             0.00
20   0.000000        0.000000             0.00
21   0.000000        0.000000             0.00
22   0.000000        0.000000             0.00
23   0.000000        0.000000             0.00
24   0.000000        0.000000             0.00
25   0.000000        0.000000             0.00
26   0.000000        0.000000             0.00
27   0.000000        0.000000             0.00
28   0.000000        0.000000             0.00
29   0.000000        0.000000             0.00
30   0.000000        0.000000             0.00
31   0.000000        0.000000             0.00
32   0.000000        0.000000             0.00
33   0.000000        0.000000             0.00
34   0.000000        0.000000             0.00
35   0.000000        0.000000             0.00
36   0.000000        0.000000             0.00
37   0.000000        0.000000             0.00
38   0.000000        0.000000             0.00
39   0.000000        0.000000             0.00
40   0.000000        0.000000             0.00
41   0.000000        0.000000             0.00
42   0.000000        0.000000             0.00
43   0.000000        0.000000             0.00
44   0.000000        0.000000             0.00
45   0.000000        0.000000             0.00
46   0.000000        0.000000             0.00
47   0.000000        0.000000             0.00
48   0.000000        0.000000             0.00
49   0.000000        0.000000             0.00

In [30]:
df2 = df1.copy()

df2.iloc[1,0] = np.NaN

df2

    R&D Spend  Administration  Marketing Spend
0        17.0           14.00        47.000000
1         NaN           15.00        44.000000
2        15.0           10.00        41.000000
3        14.0           10.16        38.000000
4        14.0            9.00        37.960000
5        13.0           10.00        36.000000
6        13.0           15.00        13.000000
7        13.0           15.00        32.000000
8        12.0           15.00        31.000000
9        12.0           11.00        30.000000
10       10.0           11.00        23.000000
11       10.0            9.00        25.000000
12        9.0           13.00        25.000000
13        9.0           14.00        25.000000
14       12.0           16.00        26.000000
15       11.0           12.00        26.000000
16        8.0           12.00        26.000000
17        9.0           15.00        28.000000
18        9.0           11.00        29.000000
19        9.0           15.00         0.000000
20        8.0           11.00        30.000000
21        8.0           15.00        30.000000
22        7.0           12.00        30.000000
23        7.0           11.00        30.000000
24        8.0           10.00        14.000000
25        6.0           14.00        14.000000
26        8.0           14.00        13.000000
27        7.0           13.00        35.000000
28        7.0           18.00        12.000000
29        7.0           15.00        11.000000
30        6.0           12.00         9.000000
31        6.0           15.00         9.000000
32        6.0           13.00         5.000000
33        6.0           10.00        21.000000
34        5.0           16.00        21.000000
35        5.0            9.00        21.000000
36        3.0           13.00        20.000000
37        4.0            5.00        20.000000
38        2.0            7.00        19.000000
39        4.0            8.00        17.000000
40        3.0           12.00        17.000000
41        3.0            8.00        16.000000
42        2.0           10.00        15.000000
43        2.0           13.00         4.000000
44        2.0           15.00         3.000000
45        0.0           12.00         0.000000
46        0.0           12.00        30.000000
47        0.0           14.00         0.000000
48        0.0            5.00         0.000000
49        0.0           12.00        21.387755

In [31]:
X = df2.iloc[[0,2,3,4],1:3]
y = df2.iloc[[0,2,3,4],0]

lr = LinearRegression()
lr.fit(X,y)
lr.predict(df2.iloc[1,1:].values.reshape(1,2))

/Users/puja/anaconda3/lib/python3.11/site-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([15.9936532])

In [32]:
df2.iloc[1,0] = 15.99
df2.iloc[3,1] = np.NaN
X = df2.iloc[[0,1,2,4],[0,2]]
y = df2.iloc[[0,1,2,4],1]

lr = LinearRegression()
lr.fit(X,y)
lr.predict(df2.iloc[3,[0,2]].values.reshape(1,2))

/Users/puja/anaconda3/lib/python3.11/site-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([10.12373045])

In [33]:
df2.iloc[3,1] = 8.72
df2.iloc[4,-1] = np.NaN

X = df2.iloc[0:4,0:2]
y = df2.iloc[0:4,-1]

lr = LinearRegression()
lr.fit(X,y)
lr.predict(df2.iloc[4,0:2].values.reshape(1,2))

/Users/puja/anaconda3/lib/python3.11/site-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([38.00495177])

In [34]:
df2.iloc[4,-1] = 37.59
df2

    R&D Spend  Administration  Marketing Spend
0       17.00           14.00        47.000000
1       15.99           15.00        44.000000
2       15.00           10.00        41.000000
3       14.00            8.72        38.000000
4       14.00            9.00        37.590000
5       13.00           10.00        36.000000
6       13.00           15.00        13.000000
7       13.00           15.00        32.000000
8       12.00           15.00        31.000000
9       12.00           11.00        30.000000
10      10.00           11.00        23.000000
11      10.00            9.00        25.000000
12       9.00           13.00        25.000000
13       9.00           14.00        25.000000
14      12.00           16.00        26.000000
15      11.00           12.00        26.000000
16       8.00           12.00        26.000000
17       9.00           15.00        28.000000
18       9.00           11.00        29.000000
19       9.00           15.00         0.000000
20       8.00           11.00        30.000000
21       8.00           15.00        30.000000
22       7.00           12.00        30.000000
23       7.00           11.00        30.000000
24       8.00           10.00        14.000000
25       6.00           14.00        14.000000
26       8.00           14.00        13.000000
27       7.00           13.00        35.000000
28       7.00           18.00        12.000000
29       7.00           15.00        11.000000
30       6.00           12.00         9.000000
31       6.00           15.00         9.000000
32       6.00           13.00         5.000000
33       6.00           10.00        21.000000
34       5.00           16.00        21.000000
35       5.00            9.00        21.000000
36       3.00           13.00        20.000000
37       4.00            5.00        20.000000
38       2.00            7.00        19.000000
39       4.00            8.00        17.000000
40       3.00           12.00        17.000000
41       3.00            8.00        16.000000
42       2.00           10.00        15.000000
43       2.00           13.00         4.000000
44       2.00           15.00         3.000000
45       0.00           12.00         0.000000
46       0.00           12.00        30.000000
47       0.00           14.00         0.000000
48       0.00            5.00         0.000000
49       0.00           12.00        21.387755

In [35]:
df2 - df1

    R&D Spend  Administration  Marketing Spend
0        0.00            0.00             0.00
1        0.09            0.00             0.00
2        0.00            0.00             0.00
3        0.00           -1.44             0.00
4        0.00            0.00            -0.37
5        0.00            0.00             0.00
6        0.00            0.00             0.00
7        0.00            0.00             0.00
8        0.00            0.00             0.00
9        0.00            0.00             0.00
10       0.00            0.00             0.00
11       0.00            0.00             0.00
12       0.00            0.00             0.00
13       0.00            0.00             0.00
14       0.00            0.00             0.00
15       0.00            0.00             0.00
16       0.00            0.00             0.00
17       0.00            0.00             0.00
18       0.00            0.00             0.00
19       0.00            0.00             0.00
20       0.00            0.00             0.00
21       0.00            0.00             0.00
22       0.00            0.00             0.00
23       0.00            0.00             0.00
24       0.00            0.00             0.00
25       0.00            0.00             0.00
26       0.00            0.00             0.00
27       0.00            0.00             0.00
28       0.00            0.00             0.00
29       0.00            0.00             0.00
30       0.00            0.00             0.00
31       0.00            0.00             0.00
32       0.00            0.00             0.00
33       0.00            0.00             0.00
34       0.00            0.00             0.00
35       0.00            0.00             0.00
36       0.00            0.00             0.00
37       0.00            0.00             0.00
38       0.00            0.00             0.00
39       0.00            0.00             0.00
40       0.00            0.00             0.00
41       0.00            0.00             0.00
42       0.00            0.00             0.00
43       0.00            0.00             0.00
44       0.00            0.00             0.00
45       0.00            0.00             0.00
46       0.00            0.00             0.00
47       0.00            0.00             0.00
48       0.00            0.00             0.00
49       0.00            0.00             0.00

In [36]:
df3 = df2.copy()

df3.iloc[1,0] = np.NaN

df3

    R&D Spend  Administration  Marketing Spend
0        17.0           14.00        47.000000
1         NaN           15.00        44.000000
2        15.0           10.00        41.000000
3        14.0            8.72        38.000000
4        14.0            9.00        37.590000
5        13.0           10.00        36.000000
6        13.0           15.00        13.000000
7        13.0           15.00        32.000000
8        12.0           15.00        31.000000
9        12.0           11.00        30.000000
10       10.0           11.00        23.000000
11       10.0            9.00        25.000000
12        9.0           13.00        25.000000
13        9.0           14.00        25.000000
14       12.0           16.00        26.000000
15       11.0           12.00        26.000000
16        8.0           12.00        26.000000
17        9.0           15.00        28.000000
18        9.0           11.00        29.000000
19        9.0           15.00         0.000000
20        8.0           11.00        30.000000
21        8.0           15.00        30.000000
22        7.0           12.00        30.000000
23        7.0           11.00        30.000000
24        8.0           10.00        14.000000
25        6.0           14.00        14.000000
26        8.0           14.00        13.000000
27        7.0           13.00        35.000000
28        7.0           18.00        12.000000
29        7.0           15.00        11.000000
30        6.0           12.00         9.000000
31        6.0           15.00         9.000000
32        6.0           13.00         5.000000
33        6.0           10.00        21.000000
34        5.0           16.00        21.000000
35        5.0            9.00        21.000000
36        3.0           13.00        20.000000
37        4.0            5.00        20.000000
38        2.0            7.00        19.000000
39        4.0            8.00        17.000000
40        3.0           12.00        17.000000
41        3.0            8.00        16.000000
42        2.0           10.00        15.000000
43        2.0           13.00         4.000000
44        2.0           15.00         3.000000
45        0.0           12.00         0.000000
46        0.0           12.00        30.000000
47        0.0           14.00         0.000000
48        0.0            5.00         0.000000
49        0.0           12.00        21.387755

In [37]:
X = df3.iloc[[0,2,3,4],1:3]
y = df3.iloc[[0,2,3,4],0]

lr = LinearRegression()
lr.fit(X,y)
lr.predict(df3.iloc[1,1:].values.reshape(1,2))

/Users/puja/anaconda3/lib/python3.11/site-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([16.3647284])

In [38]:
df3.iloc[1,0] = 16.35

In [39]:
df3.iloc[3,1] = np.NaN
X = df3.iloc[[0,1,2,4],[0,2]]
y = df3.iloc[[0,1,2,4],1]

lr = LinearRegression()
lr.fit(X,y)
lr.predict(df3.iloc[3,[0,2]].values.reshape(1,2))

/Users/puja/anaconda3/lib/python3.11/site-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([8.06871025])

In [40]:
df3.iloc[3,1] = 8.06
df3.iloc[4,-1] = np.NaN

X = df3.iloc[0:4,0:2]
y = df3.iloc[0:4,-1]

lr = LinearRegression()
lr.fit(X,y)
lr.predict(df3.iloc[4,0:2].values.reshape(1,2))

/Users/puja/anaconda3/lib/python3.11/site-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([37.56267814])

In [41]:
df3.iloc[4,-1] =37.56 
df2.iloc[3,1] = 8.06
df3

    R&D Spend  Administration  Marketing Spend
0       17.00           14.00        47.000000
1       16.35           15.00        44.000000
2       15.00           10.00        41.000000
3       14.00            8.06        38.000000
4       14.00            9.00        37.560000
5       13.00           10.00        36.000000
6       13.00           15.00        13.000000
7       13.00           15.00        32.000000
8       12.00           15.00        31.000000
9       12.00           11.00        30.000000
10      10.00           11.00        23.000000
11      10.00            9.00        25.000000
12       9.00           13.00        25.000000
13       9.00           14.00        25.000000
14      12.00           16.00        26.000000
15      11.00           12.00        26.000000
16       8.00           12.00        26.000000
17       9.00           15.00        28.000000
18       9.00           11.00        29.000000
19       9.00           15.00         0.000000
20       8.00           11.00        30.000000
21       8.00           15.00        30.000000
22       7.00           12.00        30.000000
23       7.00           11.00        30.000000
24       8.00           10.00        14.000000
25       6.00           14.00        14.000000
26       8.00           14.00        13.000000
27       7.00           13.00        35.000000
28       7.00           18.00        12.000000
29       7.00           15.00        11.000000
30       6.00           12.00         9.000000
31       6.00           15.00         9.000000
32       6.00           13.00         5.000000
33       6.00           10.00        21.000000
34       5.00           16.00        21.000000
35       5.00            9.00        21.000000
36       3.00           13.00        20.000000
37       4.00            5.00        20.000000
38       2.00            7.00        19.000000
39       4.00            8.00        17.000000
40       3.00           12.00        17.000000
41       3.00            8.00        16.000000
42       2.00           10.00        15.000000
43       2.00           13.00         4.000000
44       2.00           15.00         3.000000
45       0.00           12.00         0.000000
46       0.00           12.00        30.000000
47       0.00           14.00         0.000000
48       0.00            5.00         0.000000
49       0.00           12.00        21.387755

In [42]:
df3 - df2

    R&D Spend  Administration  Marketing Spend
0        0.00             0.0             0.00
1        0.36             0.0             0.00
2        0.00             0.0             0.00
3        0.00             0.0             0.00
4        0.00             0.0            -0.03
5        0.00             0.0             0.00
6        0.00             0.0             0.00
7        0.00             0.0             0.00
8        0.00             0.0             0.00
9        0.00             0.0             0.00
10       0.00             0.0             0.00
11       0.00             0.0             0.00
12       0.00             0.0             0.00
13       0.00             0.0             0.00
14       0.00             0.0             0.00
15       0.00             0.0             0.00
16       0.00             0.0             0.00
17       0.00             0.0             0.00
18       0.00             0.0             0.00
19       0.00             0.0             0.00
20       0.00             0.0             0.00
21       0.00             0.0             0.00
22       0.00             0.0             0.00
23       0.00             0.0             0.00
24       0.00             0.0             0.00
25       0.00             0.0             0.00
26       0.00             0.0             0.00
27       0.00             0.0             0.00
28       0.00             0.0             0.00
29       0.00             0.0             0.00
30       0.00             0.0             0.00
31       0.00             0.0             0.00
32       0.00             0.0             0.00
33       0.00             0.0             0.00
34       0.00             0.0             0.00
35       0.00             0.0             0.00
36       0.00             0.0             0.00
37       0.00             0.0             0.00
38       0.00             0.0             0.00
39       0.00             0.0             0.00
40       0.00             0.0             0.00
41       0.00             0.0             0.00
42       0.00             0.0             0.00
43       0.00             0.0             0.00
44       0.00             0.0             0.00
45       0.00             0.0             0.00
46       0.00             0.0             0.00
47       0.00             0.0             0.00
48       0.00             0.0             0.00
49       0.00             0.0             0.00